// Base Colors
$red:          #C22F2F;
$dark:         #3E3E3E;
$tan:          #AE957D;
$grey:         #7A7A7A;
$grey_lighter: #B2B2B2;
$yellow:       #F8EB00;
$blue:         #2584CE;
$mid:          #7A7A7A;
$faint:        #FAFAFA;
$gray:         $grey;

// Named Colors
$primary:      $red;
$secondary:    $blue;
$tertiary:     $dark;
$body:         $dark;

// Fonts
$font_sans: "geomanist", sans-serif;
$font_headline: "Oswald", sans-serif;
$font_caption: "classic-comic", sans-serif;