<div class="hero">
    <div class="breadcrumbs">
        <ul>
            {{ nav:breadcrumbs include_home="true" scope="crumb" }}
                <li><a href="{{ url }}">{{ crumb:nav_title or crumb:title }}</a></li>
                {{ unless last }}<li class="divider">></li>{{ /unless }}
            {{ /nav:breadcrumbs }}
        </ul>
    </div>
    <div class="content-area standout">
        <h1>{{ title | widont }}</h1>
        {{ summary | markdown }}
    </div>
</div>

<!-- Google Code for Form Submission Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 998368189;
var google_conversion_label = "HTifCLfE-30QvceH3AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998368189/?label=HTifCLfE-30QvceH3AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
