<footer class="footer">
    <div class="contact">
        <p>Tel: <a href="tel:{{ phone }}" class="telephone">{{ phone }}</a></p>
          <p class="minor">After hours:  <a href="tel:{{ mphone }}" class="telephone">{{ mphone }}</a></p>
        <p><a href="/contact"><img src="/assets/img/info_popes.png" style="height:29px; width:150px"</a></p>
        <p class="minor">Unit 4, 16 Ashley Pl, Papamoa Beach, 3118 </p>
    </div>
    <!--
    <div class="social">
        <h4>Follow Us</h4>
        <ul class="links">
            <ul>
                <li><a href="{{ yelp }}">Yelp</a></li>
                <li><a href="{{ twitter }}">Twitter</a></li> 
                <li><a href="{{ facebook }}">Facebook</a></li>
                <li><a href="{{ youtube }}">YouTube</a></li> 
            </ul>
        </ul>
    </div>
    -->

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ theme:js }}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123426760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123426760-1');
</script>


{{ yield:footer }}
